# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === General ===

DOMAIN_NAME=*
TLS_EMAIL=webmaster@test.ru
DJANGO_SECRET_KEY=__CHANGEME__

POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_USER=postgres
SENTRY_DSN=
SENTRY_DEPLOYMENT=
DJANGO_DATABASE_HOST=db
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672/
LLM_PROVIDER=server.apps.llm.providers.GPTProvider
OPENAI_ASSISTANT_ID=
OLLAMA_HOST=http://ollama:11434
OPENAI_API_KEY=
DADATA_API_TOKEN=
